{% extends "layouts/application.njk" %}
{% set title = "TOP" %}

{% block contents -%}
  <div>message: this is top page</div>
  {{ macro.linkTo("meve page to users", "users") }}
  <form action="" method="post" id="chat-form">
    <input type="text" id="chat-input">
  </form>
  <div id="res"></div>
{%- endblock %}