{% extends "../layouts/application.njk" %}
{% set title = user.name + "のページ" %}

{% block contents -%}
  <div>{{ user.name }}</div>
  <div>{{ user.description }}</div>
  <div>{{ user.email }}</div>
{%- endblock %}